div.bg-creamer.p-1
  form.footer-newsletter.py-4.mb-0(action="https://joewegner.us18.list-manage.com/subscribe/post?u=9a7b34459e817190651db07ce&amp;id=646fe8bc54" method="POST" target="_blank" novalidate)
    h4.text-center.text-coffee.display-5 Want some coffee? We'll let you know when we've got availability.
    .input-group.w-75.w-sm-50.mx-auto.mt-3
      input.w-100.border.p-3.super-rounded(type="email" value="" name="EMAIL" placeholder="coffeelover@omgcoffeeissogood.com")
      .sneak-off-page(aria-hidden="true")
        input(type="text" name="b_9a7b34459e817190651db07ce_646fe8bc54" tabindex="-1" value="")
      input.bg-primary.text-white.position-absolute.right-0.top-0.super-rounded.border.py-2.px-3.mt-2.mr-2(type="submit" value="Sign Up" name="subscribe")
