div.position-relative
  img.w-100(src="/images/"+hero)
  div.position-absolute.top-0.left-0.h-100.w-100
  block hero-content
nav.navbar.navbar-expand-md.navbar-light.sticky-top.bg-white.py-2.px-5.border-bottom.border-black-50
  a.navbar-brand.height-3.d-flex.flex-column.flex-wrap.justify-content-center.align-items-center.text-black(href="/")
    img.h-100.mr-3(src="/images/wscr_notext.svg" alt="West Suburban Coffee Roasters")
    span.h2.h3-sm.font-weight-extra-bold.text-uppercase.d-block.mb-0 West Suburban
    span.h4.font-weight-extra-bold.text-uppercase.d-block.mb-0 Community Roaster

  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  #navbarSupportedContent.navbar-collapse.collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link.text-dark.px-2.h5(href="/") Coffee
      li.nav-item
        a.nav-link.text-dark.px-2.h5(href="/") Contact
